.nav_bar{
  background: #fff;
  border-bottom: 1px solid #ACABAB;
  height: 55px;
  width: 100%;
  display:flex;
  align-items: center;
}

.nav_bar_logo{
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_bar_logo img{
  padding-left: 10px;
  padding-right : 10px;
}

.nav_bar_search{

}

.nav_bar_login{
  color: #ACABAB;

  font-family: Noto Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: none; 
  border: none; 
  padding: 0;
  margin: 0; 
  outline: none; 
  box-shadow: none; 

  justify-self: flex-end;
  margin-left: auto;
  padding-right: 10px;
}