.post_page {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.post_page_info_area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    align-self: center;
    justify-self: center;
    width: 70%;
}
.like_container {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust the gap between the image and like count */
}

.post_page_input_container_upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.post_page_title_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.post_page_title {
    color: #000;
    font-family: 'Noto Sans';
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    width: 100%;
    background: none;
    outline: none;
    margin: 0;

    padding-left: 10px;
}

.post_page_author {
    color: #ACABAB;
    font-family: 'Noto Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin: 0; 
    width: 100%;
    background: none;
    outline: none;

    padding-left: 10px;
}

.post_page_nft_mark{
    color: #FFF;

    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 15px;
    background: #009406;

    padding: 10px;
    margin: 0;
    height: 50%;
}

.post_page_input_container_lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 0.5px solid #ACABAB;
    border-bottom: 0.5px solid #ACABAB;

}

.thumbs_up_image {
    padding: 10px;
    width: 30px; /* Set the image width */
    height: 30px; /* Set the image height */
    flex-shrink: 0;
}

.like_count {
    color: #ACABAB;
    font-family: Noto Sans;

    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
}


.post_page_content {
    font-family: 'Noto Sans';
    font-size: 20px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 10px;
    flex-shrink:0;
    height: auto;
    width: 70%;

    display: flex;
    flex-direction: column;

}

.post_page_content p{
    margin: 0;
    padding-bottom: 50px;
}

.post_page_post_button {
    background-color: #009406;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 8px;
    border: none;
    border-radius: 15px;
    width: 104px;
    height: 38px;
    margin-left: auto;
}

.post_page_like_button{
    border: none;
    margin: 0; 
    background: none;
    outline: none;

    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: #ACABAB;

    font-family: Noto Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post_page_like_button img{
    padding-right: 10px;
}