.write_post {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px 20px 20px 20px; /* Adjust padding for top, right, bottom, left */
    margin: 0 auto;
}

.write_post_input_container {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: flex-start; /* Align items at the start (left side) */
    padding: 0; /* Reset padding for container */
}

.write_post_title_input {
    font-family: "Noto Sans";
    font-size: 50px;
    color: #ACABAB;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    border-radius: 15px;
    width: calc(100% - 138px); /* Adjust the width to accommodate the button */
    padding: 10px; /* Apply padding instead of margin */
    margin: 0; /* Reset margin */
}

.write_post_title_input:focus{
    outline: none;
}

.write_post_content_textarea {
    color: #ACABAB;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    border-left: none;
    border-right: none;
    background: #FFF;
    border-radius: 0;
    height: 60vh;
    padding: 15px;
}
.write_post_content_textarea:focus{
    outline: none;
}

.write_post_post_button {
    background-color: #009406;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 8px;
    border: none;
    border-radius: 15px;
    width: 128px;
    height: 38px;
    align-self: center; /* Align the button to the end of the container */
}
